@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');

* {
    font-family: 'Roboto Mono', monospace;
  margin: 0;
  border: 0;
  color: #fff;
  background-color: #000;
}

form {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea {
  resize: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vw !important;
  overflow: hidden;
  height: 13vh;
  font-size: 5rem;
  text-align: center;
  border: none;
  caret-color: aqua;
  transform: translate(-50%, -50%);
}

textarea:focus {
  outline: none;
}

@media screen and (max-width : 768px) {
    textarea:focus {
        height: 8vh;
        font-size: 2rem;
    }
}
